<p></p>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        <div class="form-group">
          <label for="title">Product Id</label>
          <input type="text" class="form-control" id="ProductId" #inputTitle required ngModel name="ProductId" minlength="6"/>
        </div>
        <div class="form-group">
          <label for="content">Product Name</label>
          <textarea class="form-control" id="ProductName" required #inputContent ngModel name="ProductName"></textarea>
        </div>
        <div class="form-group">
          <label for="title">Category</label>
          <input type="text" class="form-control" id="ProductCategory" #inputTitle required ngModel name="ProductCategory" />
        </div>
        <div class="form-group">
          <label for="title">Price</label>
          <input type="text" class="form-control" id="ProductPrice" #inputTitle required ngModel name="ProductPrice" />
        </div>
        <div class="form-group">
          <label for="title">Description</label>
          <input type="text" class="form-control" id="description" #inputTitle required ngModel name="description" />
        </div>
        <div class="form-group">
          <label for="Url">Image Url</label>
          <input type="text" class="form-control" id="imagerUrl" #inputTitle required ngModel name="imageUrl" />
        </div>
        <div class="form-group">
          <label for="title">Vendor Name</label>
          <input type="text" class="form-control" id="VendorName" #inputTitle ngModel name="VendorName" />
        </div>
        <br>
        <button class="btn btn-primary" type="submit" (click)="inputTitle.value=''" (click)="inputContent.value=''"[disabled]="!postForm.valid">Send Post
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onFetchPosts()">Fetch Posts</button>
      |
      <button class="btn btn-danger" [disabled]="loadedPosts < 1" (click)="onClearPosts()">Clear Posts
      </button>
    </div>
  </div>
  