<div class="container-fluid" >
    <h4>Welcome to the Login Page</h4>
    <form  style="width:30%;">
        <label>Email:</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="email">
          </div>
          <label>Password:</label>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
          </div>
          
        <button class="btn btn-primary">Register</button>
    </form>
</div>