<div class="conatiner" style="text-align: center">
  <h1>WishList</h1>
  <br />
  <div
    class="conatiner"
    *ngIf="isFetching"
    style="text-align: center; margin-top: 100"
  >
    <app-spinner></app-spinner>
  </div>
  <div class="container" *ngIf="products == 0">
    <h1>Your WishList is empty</h1>
  </div>
  <div
    class="container"
    *ngIf="!isFetching && products"
    style="
      margin-top: 5px;
      border: 2px solid rgb(180, 179, 179);
      border-radius: 15px;
    "
  >
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col" *ngFor="let item of products">
        <div class="card" style="margin-top: 10px">
          <img
            src="{{ item.imageUrl }}"
            class="card-img-top"
            alt="..."
            style="height: 300px"
          />
          <div class="card-body">
            <h5 class="card-title">{{ item.ProductName }}</h5>
            <h5 class="card-text">
              Price: {{ item.ProductPrice | currency: "INR" }}
            </h5>
            <p class="card-text">By: {{ item.brandName }}</p>
            <a href="/viewproduct/{{ item.ProductId }}">View Products</a>
            <button
              type="button"
              class="btn btn-primary"
              style="margin: 10px"
              (click)="addToCart(item)"
            >
              Move to cart
            </button>
            <button
              type="button"
              class="btn btn-primary"
              style="margin: 10px"
              (click)="deleteData(item)"
            >
              <i class="fa fa-trash-o"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
  <br />
</div>
