<div class="container-fluid">
  <div class="container">
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="row">
        <div class="col">
          <h3 class="title">billing address</h3>

          <div class="inputBox">
            <span>full name :</span>
            <input
              type="text"
              placeholder="john deo"
              required
              ngModel
              name="fullName"
            />
          </div>
          <div class="inputBox">
            <span>email :</span>
            <input
              type="email"
              placeholder="example@example.com"
              required
              ngModel
              name="email"
            />
            <small
              *ngIf="authForm.invalid && authForm.touched"
              class="text-danger"
              >email is Required</small
            >
          </div>
          <div class="inputBox">
            <span>address :</span>
            <input
              type="text"
              placeholder="room - street - locality"
              required
              ngModel
              name="address"
            />
          </div>
          <div class="inputBox">
            <span>city :</span>
            <input
              type="text"
              placeholder="mumbai"
              required
              ngModel
              name="City"
            />
          </div>

          <div class="flex">
            <div class="inputBox">
              <span>state :</span>
              <input
                type="text"
                placeholder="india"
                required
                ngModel
                name="State"
              />
            </div>
            <div class="inputBox">
              <span>zip code :</span>
              <input
                type="text"
                placeholder="123 456"
                required
                ngModel
                name="zipCode"
              />
            </div>
          </div>
        </div>

        <div class="col">
          <h3 class="title">payment</h3>

          <div class="inputBox">
            <span>cards accepted :</span>
            <img src="assets\card_img.png" alt="" />
          </div>
          <div class="inputBox">
            <span>name on card :</span>
            <input
              type="text"
              placeholder="mr. john deo"
              required
              ngModel
              name="nameOC"
            />
          </div>
          <div class="inputBox">
            <span>credit card number :</span>
            <input
              type="number"
              placeholder="1111-2222-3333-4444"
              required
              ngModel
              name="CCnumber"
            />
          </div>
          <div class="inputBox">
            <span>exp month :</span>
            <input
              type="text"
              placeholder="january"
              required
              ngModel
              name="expMonth"
            />
          </div>

          <div class="flex">
            <div class="inputBox">
              <span>exp year :</span>
              <input
                type="number"
                placeholder="2022"
                required
                ngModel
                name="expYear"
              />
            </div>
            <div class="inputBox">
              <span>CVV :</span>
              <input
                type="text"
                placeholder="1234"
                required
                ngModel
                name="cvv"
              />
            </div>
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        style="width: 660px; height: 45px"
        [disabled]="!authForm.valid"
      >
        Place Order
      </button>
      <!-- <input type="submit" value="proceed to checkout" class="submit-btn" routerLink="landingPage"> -->
    </form>
  </div>
</div>
