<p></p>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        <div class="form-group">
          <label for="title">Product Id</label>
          <input type="text" class="form-control" id="ProductId" #inputTitle required ngModel name="ProductId" minlength="6"/>
        </div>
        <div class="form-group">
          <label for="content">Brand name</label>
          <textarea class="form-control" id="brandName" required #inputBrand ngModel name="brandName"></textarea>
        </div>
        <div class="form-group">
          <label for="content">Product Name</label>
          <textarea class="form-control" id="ProductName" required #inputContent ngModel name="ProductName"></textarea>
        </div>
        <div class="form-group">
          <label for="title">Category</label>
          <input type="text" class="form-control" id="ProductCategory" #inputCategory required ngModel name="ProductCategory" />
        </div>
        <div class="form-group">
          <label for="title">Price</label>
          <input type="text" class="form-control" id="ProductPrice" #inputPrice required ngModel name="ProductPrice" />
        </div>
        <div class="form-group">
          <label for="title">Description</label>
          <textarea type="text" class="form-control" id="description" #inputDescription required ngModel name="description"></textarea>
        </div>
        <div class="form-group">
          <label for="text">Image Url</label>
          <input type="text" class="form-control" id="imagerUrl" #inputImage required ngModel name="imageUrl" />
        </div>
        <div class="form-group">
          <label for="title">Colour</label>
          <input type="text" class="form-control" id="colour" #inputColour ngModel name="colour" />
        </div>
        <div class="form-group">
          <label for="title">Size</label>
          <input type="text" class="form-control" id="size" #inputSize required ngModel name="size" />
        </div>
        <div class="form-group">
            <label for="title">MRP</label>
            <input type="number" class="form-control" id="MRP" #inputMrp required ngModel name="MRP" />
        </div>
        <div class="form-group">
            <label for="title">Ratings</label>
            <input type="number" class="form-control" id="Ratings" #inputRatings required ngModel name="Ratings"/>
        </div>
        <br>
        <button class="btn btn-primary" type="submit" (click)="inputTitle.value=''" (click)="inputBrand.value=''" (click)="inputContent.value=''" (click)="inputCategory.value=''" (click)="inputPrice.value=''" (click)="inputDescription.value=''" (click)="inputImage.value=''" (click)="inputColour.value=''" (click)="inputSize.value=''" (click)="inputMrp.value=''" (click)="inputRatings.value=''">Send Post
        </button>
        <!-- <button class="btn btn-primary" type="submit" (click)="inputTitle.value=''" (click)="inputContent.value=''" [disabled]="!postForm.valid>Send Post
        </button> -->
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onFetchPosts()">Fetch Posts</button>
      |
      <button class="btn btn-danger" [disabled]="loadedPosts < 1" (click)="onClearPosts()">Clear Posts
      </button>
    </div>
  </div>
  