<h1> Fiction </h1>
<br>
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col" *ngFor="let item of loadedPosts">
        <div class="card">
          <img src="{{item.imageUrl}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.ProductName}}</h5>
            <p class="card-text">{{item.description}}</p>
            <button type="button" class="btn btn-primary">View Product</button>
            <button type="button" class="btn btn-primary" style="margin:10px">Add to cart</button>
          </div>
        </div>
      </div>
      </div>
      <br>   
  </div>


  <!-- 
      <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <button type="button" class="btn btn-primary">Add to cart</button>
          </div>
        </div>
      </div> -->