<br>
<div class="container">
    <footer>
        <div class="footer-content">
            <h3>Lavish Shopping</h3>
            <p>If you would like to experience the best of online shopping for men, women and kids in India, you are at
                the right place. Lavish is the ultimate destination for fashion and lifestyle, being host to a wide
                array of merchandise including clothing, mobiles, books and more. Our online store brings you the latest
                in designer products straight out of fashion houses. You can shop online at Lavish from the comfort of
                your home and get your favourites delivered right to your doorstep.</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
    </footer>
</div>
<div class="footer-bottom">
    <p>copyright &copy;2022 <a href="#">Lavish.com</a> </p>
</div>