<h1>Login form</h1>
<form [formGroup]="signupForm">
  <label>name:</label>
  <input type="text" placeholder="Enter your name" formControlName="user">
  <br><br>
  <label>Phone no. :</label>
  <input type="text" placeholder="Enter your phone no." formControlName="Password">
  <button type="submit" style="margin: 20px;" (click)="onSubmit()">Submit</button>
</form>

<!-- <app-service-prac></app-service-prac> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            class="form-control">
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input
            type="text"
            id="email"
            class="form-control">
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div> -->
