<div class="bgColour">
  <br />
  <br />
  <h1>Jeans</h1>
  <div
    class="conatiner"
    *ngIf="isFetching"
    style="text-align: center; margin-top: 100"
  >
    <app-spinner></app-spinner>
  </div>
  <div class="container-fluid" *ngIf="!isFetching">
    <hr style="width: 70%; margin-left: 15%" />
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col" *ngFor="let item of jeansList">
        <div class="card" height="350px">
          <img
            src="{{ item.imageUrl }}"
            class="card-img-top"
            alt="..."
            style="height: 300px"
          />
          <div class="card-body">
            <h5 class="card-title">{{ item.ProductName }}</h5>
            <h5 class="card-text">
              Price: {{ item.ProductPrice | currency: "INR" }}
            </h5>
            <p class="card-text">Colour: {{ item.colour }}</p>
            <a href="/viewproduct/{{ item.ProductId }}">View Products</a>
            <button
              type="button"
              class="btn btn-primary"
              style="margin: 10px"
              (click)="addToCart(item)"
            >
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <h1>Shirt</h1>
    <div
      class="conatiner"
      *ngIf="isFetching"
      style="text-align: center; margin-top: 100"
    >
      <app-spinner></app-spinner>
    </div>
    <div class="container-fluid" *ngIf="!isFetching">
      <hr style="width: 70%; margin-left: 15%" />
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col" *ngFor="let item of shirtList">
          <div class="card" height="350px">
            <img
              src="{{ item.imageUrl }}"
              class="card-img-top"
              alt="..."
              style="height: 300px"
            />
            <div class="card-body">
              <h5 class="card-title">{{ item.ProductName }}</h5>
              <h5 class="card-text">
                Price: {{ item.ProductPrice | currency: "INR" }}
              </h5>
              <p class="card-text">By: {{ item.colour }}</p>
              <a href="/viewproduct/{{ item.ProductId }}">View Products</a>
              <button
                type="button"
                class="btn btn-primary"
                style="margin: 10px"
                (click)="addToCart(item)"
              >
                Add to cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
