<h2 class="bg-light mb-2 text-center">Add New Kids Wearing</h2>
<form  #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)"  style="border: 5px solid #88becc; padding: 10px; border-radius:25px ;" >
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="title">Product Id: </label>
        <input type="text" class="form-control" placeholder="Enter Product Id" #inputTitle required ngModel name="ProductId" minlength="6">
      </div>
      <div class="col-md-6 mb-3">
        <label for="content">Brand name:</label>
        <input type="text" class="form-control" id="brandName" required placeholder="Enter Brand Name" #inputBrand ngModel name="brandName">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="content">Product Name:</label>
        <input type="text" class="form-control" placeholder="Enter Product Name" id="ProductName" required #inputContent ngModel name="ProductName" >
      </div>
      <div class="col-md-6 mb-3">
        <label for="content">Category:</label>
        <input type="text" class="form-control" required placeholder="Enter Brand Name" id="ProductCategory" #inputCategory required ngModel name="ProductCategory" >
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="content">Price:</label>
        <input type="text" class="form-control" placeholder="Enter Product Price" id="ProductPrice" #inputPrice required ngModel name="ProductPrice">
      </div>
      <div class="col-md-6 mb-3">
        <label>Rating</label>
        <label for="title">Ratings:</label>
        <input type="number" class="form-control" id="Ratings" placeholder="Enter Product Ratings" #inputRatings required ngModel name="Ratings"/>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 mb-6">
        <label for="title">Description:</label>
        <textarea type="text" class="form-control" id="description" placeholder="Enter Product description" #inputDescription required ngModel name="description"></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6 mb-3">
      <label for="title">Colour:</label>
      <input type="text" class="form-control" id="colour" placeholder="Enter Product Colour" #inputColour ngModel name="colour"/>
    </div>
      <div class="col-md-6 mb-3">
      <label for="title">Size:</label>
      <input type="text" class="form-control" id="size" placeholder="Enter Product Size" #inputSize required ngModel name="size" />
    </div>
  </div>

  <div class="form-row">
  <div class="col-md-12 mb-6">
    <label for="text">Image Url:</label>
    <input type="text" class="form-control" id="imagerUrl"placeholder="Enter Image url" #inputImage required ngModel name="imageUrl">
  </div>
</div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
    <label for="title">MRP:</label>
    <input type="number" class="form-control" id="MRP" placeholder="Enter Product MRP" #inputMrp required ngModel name="MRP" />
  </div>
  </div>

  <button class="btn btn-primary" type="submit" (click)="inputTitle.value=''" (click)="inputBrand.value=''" (click)="inputContent.value=''" (click)="inputCategory.value=''" (click)="inputPrice.value=''" (click)="inputDescription.value=''" (click)="inputImage.value=''" (click)="inputColour.value=''" (click)="inputSize.value=''" (click)="inputMrp.value=''" (click)="inputRatings.value=''">Send Post
  </button>
  </form>