h1{
    text-align: center;
    color: black;
}

.card{
    border-radius: 15px;
    background-color: black;
}

.bgContainer{
    padding-top: 50px;
    background-image: linear-gradient(rgb(75, 70, 70), rgb(255, 251, 251));
}

label{
    color: azure;
}



@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* .gfg-div {
        width: 400px;
        height: 400px;
        background-color: orange;
        color: black;
    } */

    .row{
        justify-content: unset;
    }

        .container-center {
            margin-left: 10%;
            margin-right: 40%;
        }
        .card {
            border-radius: 15px;
            background-color: black;
            width: 340px;
        }
}

