<div class="gradient-custom">
  <div class="container p-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <form
          #authForm="ngForm"
          (ngSubmit)="onSubmitForm(authForm)"
          *ngIf="!isLoading"
        >
          <div class="card" style="border-radius: 1rem">
            <div class="card-body p-3">
              <div
                class="alert alert-danger"
                *ngIf="errorMsg"
                style="width: 328px; text-align: center"
              >
                <h3>{{ errorMsg }}</h3>
              </div>
              <h1
                class="fw-bold mb-2 text-uppercase text-center"
                *ngIf="isLoginMode"
              >
                Sign-In
              </h1>
              <h1
                class="fw-bold mb-2 text-uppercase text-center"
                *ngIf="!isLoginMode"
              >
                Sign-up
              </h1>
              <p class="text-white-50 mb-2 text-center">
                Please enter your Email and password!
              </p>

              <ng-container *ngIf="!isLoginMode">
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX">Name :</label>
                  <input
                    type="name"
                    id="typeNameX"
                    class="form-control"
                    name="name"
                    id="name"
                    placeholder="Enter Name"
                    ngModel
                    required
                  />
                </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typePhoneX">Phone No. :</label>
                  <input
                    type="name"
                    id="typePhoneX"
                    class="form-control"
                    name="phone"
                    id="phone"
                    placeholder="Enter phone"
                    ngModel
                    required
                    number
                    minlength="10"
                  />
                </div>
              </ng-container>

              <div class="form-outline form-white mb-4">
                <label class="form-label" for="typeEmailX">Email :</label>
                <input
                  type="email"
                  id="typeEmailX"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Enter Email"
                  ngModel
                  required
                  email
                />
              </div>

              <div class="form-outline form-white mb-4">
                <label class="form-label" for="typePasswordX">Password :</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                  placeholder="Enter Password"
                  ngModel
                  required
                  minlength="6"
                />
              </div>
              <div class="container">
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="!authForm.valid"
                >
                  {{ isLoginMode ? "LogIn" : "Sign-Up" }}
                </button>
                |
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="switchNow()"
                >
                  Switch to {{ isLoginMode ? "Sign-up" : "LogIn" }}
                </button>
                <p></p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div class="bgContainer">
  <br />
  <div
    class="conatiner"
    *ngIf="isLoading"
    style="text-align: center; margin-top: 100"
  >
    <app-spinner></app-spinner>
  </div>
  <br />
  <div class="container" *ngIf="!isLoading">
    <div class="row justify-content-center">
      <div class="form-group col-md-4 col-md-offset-5 align-center">
        <form #authForm="ngForm" (ngSubmit)="onSubmitForm(authForm)">
          <div class="card">
            <h1 *ngIf="isLoginMode">Sign-In</h1>
            <h1 *ngIf="!isLoginMode">Sign-up</h1>
            <div
              class="form-group col-md-6"
              style="font-size: 20px; padding: 5px"
            >
              <div
                class="alert alert-danger"
                *ngIf="errorMsg"
                style="width: 328px; text-align: center"
              >
                <h3>{{ errorMsg }}</h3>
              </div>
              <label
                for="name"
                *ngIf="!isLoginMode"
                style="font-size: 20px; margin-left: 10px"
                >Name:</label
              >
              <input
                type="text"
                class="form-control"
                placeholder="Name"
                aria-label="Name"
                aria-describedby="basic-addon1"
                ngModel
                name="name"
                required
                style="width: 328px; margin: 10px"
                *ngIf="!isLoginMode"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="email" style="font-size: 20px; margin-left: 10px"
                >Email:</label
              >
              <input
                type="text"
                class="form-control"
                placeholder="Email"
                aria-label="Email"
                aria-describedby="basic-addon1"
                ngModel
                name="email"
                style="width: 328px; margin: 10px"
                required
                email
              />
            </div>
            <div
              class="form-group col-md-6"
              style="font-size: 20px; padding-top: 5px"
            >
              <label for="password" style="font-size: 20px; margin-left: 10px"
                >Password:</label
              >
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                aria-label="Password"
                aria-describedby="basic-addon1"
                ngModel
                name="password"
                required
                minlength="6"
                style="width: 328px; margin: 10px"
              />
            </div>
            <div
              class="form-group col-md-6"
              style="font-size: 20px; padding-top: 5px"
            >
              <label
                for="mobile"
                *ngIf="!isLoginMode"
                style="font-size: 20px; margin-left: 10px"
                >Mobile Number:</label
              >
              <input
                type="text"
                class="form-control"
                placeholder="Ente your Mobile number"
                aria-label="Name"
                aria-describedby="basic-addon1"
                ngModel
                name="mobile"
                required
                style="width: 328px; margin: 10px"
                *ngIf="!isLoginMode"
                maxlength="10"
              />
            </div>
            <div class="container">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!authForm.valid"
              >
                {{ isLoginMode ? "LogIn" : "Sign-Up" }}
              </button>
              |
              <button
                type="button"
                class="btn btn-primary"
                (click)="switchNow()"
              >
                Switch to {{ isLoginMode ? "Sign-up" : "LogIn" }}
              </button>
              <p></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br />
</div> -->
