<br />
<div
  class="conatiner"
  *ngIf="isFetching"
  style="text-align: center; margin-top: 100"
>
  <app-spinner></app-spinner>
</div>

<!-- <div
  class="conatiner"
  *ngIf="!loadedProducts && !isFetching"
  style="text-align: center; margin-top: 100"
>
  <h1>You are disabled by the admin</h1>
  <p>
    Please contact customer support for more info or write us at
    lavishSupport@lavish.com
  </p>
</div> -->

<div class="container" *ngIf="loadedPosts.length && !isFetching">
  <h1 style="text-align: center">My cart</h1>
  <!-- <ng-container> -->
  <div class="container">
    <div class="card-table">
      <div class="card-product">
        <div class="table table-responsive">
          <thead>
            <tr>
              <th>Sr.no</th>
              <th style="width: 150px">Product Name</th>
              <th>Product Image</th>
              <th style="width: 500px">Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <!--<th>Total</th> -->
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="ytext-center"
              *ngFor="let item of loadedPosts; let i = index"
            >
              <td>{{ i + 1 }}</td>
              <td>{{ item.ProductName }}</td>
              <td><img src="{{ item.imageUrl }}" style="width: 120px" /></td>
              <td>{{ item.description }}</td>
              <td>{{ item.ProductPrice }}</td>
              <td>{{ item.quantity }}</td>
              <!-- <{{item.Total}}</td> -->
              <td>
                <button class="btn btn-danger" (click)="removeProduct(item)">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </div>
        <button
          (click)="removeAllProduct()"
          class="btn btn-danger"
          style="width: 150px; margin: 20px"
        >
          Empty Cart
        </button>
        <button
          class="btn btn-primary"
          routerLink="/"
          routerLinkActive="active"
          style="width: 150px; margin: 20px"
        >
          Shop More
        </button>
        <button
          *ngIf="loadedProducts"
          class="btn btn-success"
          routerLink="/checkout"
          routerLinkActive="active"
          style="width: 150px; margin: 20px"
        >
          Check out
        </button>
        <div
          class="conatiner"
          *ngIf="!loadedProducts && !isFetching"
          style="text-align: center; margin-top: 100"
        >
          <br />
          <hr />
          <h1>Your Id has been blocked by the Lvaish</h1>
          <p>
            Please contact customer support for more info or write us at
            lavishSupport@lavish.com
          </p>
          <hr />
        </div>
        <p style="text-align: right" *ngIf="loadedProducts">
          Total: <strong>{{ amount | currency: "INR" }}</strong>
        </p>
      </div>
    </div>
  </div>
  <!-- </ng-container> -->
</div>

<ng-container *ngIf="cartEmpty && !loadedPosts.length">
  <br />
  <div class="container">
    <div class="card">
      <h1 class="card-title" style="text-align: center">My cart</h1>
      <div class="center">
        <img
          src="https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074075.jpg?w=2000"
          alt=""
        />
        <h5>Your card is empty</h5>
        <h6>Add items to your cart</h6>
        <button
          class="btn btn-primary"
          routerLink="/home"
          routerLinkActive="active"
        >
          Shop now
        </button>
      </div>
    </div>
  </div>
</ng-container>
