<br>
<div class="conatiner" *ngIf="isFetching" style="text-align: center; margin-top:100">
    <app-spinner></app-spinner>
</div>
<div class="conatiner" *ngIf="!loadedProducts" style="text-align: center; margin-top:100">
    <h1>You are disabled by the admin</h1>
    <p>Please contact customer support for more info or write us at lavishSupport@lavish.com</p>
</div>

<div class="container" *ngIf="loadedProducts && !isFetching" >
<h1 style="text-align:center">My cart</h1>
<ng-container *ngIf="products.length !=0">
    <div class="container" >
    <div class="card-table">
        <div class="card-product">
            <div class="table table-responsive">
                <thead>
                    <tr>
                        <th>Sr.no</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <!-- <th>Quantity</th>
                        <th>Total</th> -->
                        <th>Action</th>
                        </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products,let i =index">
                        <td>{{i+1}}</td>
                        <td>{{item.ProductName}}</td>
                        <td><img src="{{item.imageUrl}}" style="width:120px"></td>
                        <td>{{item.description}}</td>
                        <td>{{item.ProductPrice}}</td>
                        <!-- <td>{{item.Quantity}}</td>
                        <td>{{item.Total}}</td> -->
                        <td><button class="btn btn-danger" (click)="removeProduct(item)"><i class="fas fa-trash"></i></button>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td><button (click)="removeAllProduct()" class="btn btn-danger" style="width:150px;">Empty Cart</button></td>
                        <td><button class="btn btn-primary" routerLink="/" routerLinkActive="active" style="width:150px;">Shop More</button></td>
                        <td><button class="btn btn-success" routerLink="/checkout" routerLinkActive="active" style="width:150px;">Check out</button></td>
                        <td>Total: <strong>INR{{allProducts}}</strong></td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</div>
</ng-container>

<ng-container  *ngIf="products.length == 0">
    <br>
    <div class="container">
        <div class="card">
            <h1 class="card-title" style="text-align:center">My cart</h1>
        <div class="center">
            <img src="https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074075.jpg?w=2000" alt="">
            <h5>Your card is empty</h5>
            <h6>Add items to your cart</h6>
            <button class="btn btn-primary" routerLink="/home" routerLinkActive="active">Shop now</button>
        </div>
    </div>
    </div>
</ng-container>
</div>