<nav class="navbar" style="background-color: #070707;">
    <div class="container-md" >
        <div class="container" style="font-size: 30px;">
            <button type="button" class="btn btn-outline-primary" style="font-size: 25px;" (click)="onSelect('addProducts')">Add Products</button>
            <button type="button" class="btn btn-outline-primary" style="font-size: 25px;" (click)="onSelect('updateProducts')">Update Products</button>
            <button type="button" class="btn btn-outline-primary" style="font-size: 25px;" (click)="onSelect('deleteProducts')">Delete Products</button>
        </div>
    </div>
</nav>

<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
    data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
    <app-admin-add-products *ngIf="loadedFeature === 'addProducts'"></app-admin-add-products>
    <app-update-products *ngIf="loadedFeature === 'updateProducts'"></app-update-products>
    <app-delete-products *ngIf="loadedFeature === 'deleteProducts'"></app-delete-products>
</div>